{% extends 'base.html' %}


{% block content %}


<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../static/bootstrap/images/shop/shop.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">online grocery shop</h1>
        <p class="lead">"Freshness at Your Doorstep, Anytime You Need It.Shop a wide range of groceries from the comfort of your home. Fast, reliable delivery - because we care about your kitchen."</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">shop now</button>
        </div>
      </div>
    </div>
  </div>







{% endblock %}